<mat-sidenav-container class="b-sidenav">
  <mat-sidenav-content>
    <mat-sidenav #sidenav opened="true"
                 [(opened)]="isOpened"
                 class="b-sidenav__panel px-3 pt-3 pb-0 border">
      <div *ngFor="let filter of filtersArray">
        <span>{{ filter.filterName }}</span>
        <ul>
          <li *ngFor="let filterItem of filter.filterList">
            <mat-checkbox color="primary"
                          *ngIf="true"
                          [(ngModel)]="filterItem.value"
                          (click)="saveFilters()">{{ filterItem.name }}</mat-checkbox>
          </li>
        </ul>
      </div>
    </mat-sidenav>

    <div class="b-sidenav__content">
      <ng-content></ng-content>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
