<div class="products" [ngClass]="{'m-sidenav-opened': isOpened}">
  <div class="products__filters">
    <button mat-button
            type="button"
            class="products__filters-btn"
            (click)="openSidenav()">
      Filters
    </button>
    <div class="products__filters-container">
      <span>{{ itemsNumber }}&nbsp;Data-sets found:</span>
      <mat-form-field class="products__sort-selector">
        <mat-select placeholder="Sort Results By">
          <mat-option *ngFor="let sort of sorts" [value]="sort.value">
            {{ sort.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <app-sidebar [(isOpened)]="isOpened">
    <app-content (changedItemsNumber)="onChangedItemsNumber($event)"></app-content>
  </app-sidebar>
</div>
