/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 40px;
  background: #ccc;
  line-height: 40px;
  padding: 5px;
}

.example-container {
  width: 100%;
  height: 100%;
  padding-bottom: 35px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
