/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  background: #f2f2f2;
}

.header {
  width: 100%;
  background: #ccc;
}

.g-border {
  border: 1px solid #ccc;
}

.no-padding {
  padding: 0;
}

/* ------------- SIDENAV -----------------------------------------*/

.b-sidenav {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  padding: 0 10px 35px;
}

.b-sidenav__content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.b-sidenav__panel {
  width: 230px;
  padding: 20px;
}

.opened, .l-sidenav-content {
  transition: all .2s ease;
}

.opened .l-sidenav-content {
  padding-left: 245px;
}

/* ------------- /SIDENAV ----------------------------------------*/
